{% extends 'index.html'%}

{% block head %}
<style>

    .input-box1 {margin-top: 20px;}
    .input-box2 {display: block;
                margin-top: 8px;
                margin-bottom: 8px;}

    .input-box1, .input-box2 {
    border-width: 2px;
    border-color: rgba(91, 21, 107, 0.726);
    border-style: solid;
    border-radius: 3px;
    font-size: 12px;
    width: 225px;
    padding-bottom: 3px;
    padding-top: 2px;}

.input-box1::placeholder, .input-box2::placeholder {opacity: 0.9;}

.submit-button {
    margin-top: 2px;}
    

</style>
{% endblock %}

{% block body %}
<center>
<h3>Login</h3>
<form method="post">    
    <input class='input-box1' type="text" required placeholder='E-Mail' name="email"/>
    <input class='input-box2' type="text" required placeholder='Password' name="password"/>


    <input class='submit-button' type="submit" name="login" value="Login"/>
</form>
</center>
{% endblock %}